{{#if usuario}}

    <div class="form-register login">
        <h1>Bienvenido  {{this.usuario.username}}</h1>
        <button class="btn-cer" onclick="cerrarSesion()"> Cerrar sesion</button>
    </div>

{{/if}}    